[submodule "externals\\floral"]
	path = externals\\floral
	url = z:\\floral.git
	branch = dev-x64
[submodule "externals\\helich"]
	path = externals\\helich
	url = z:\\helich.git
	branch = dev-x64
[submodule "externals\\clover"]
	path = externals\\clover
	url = z:\\clover.git
[submodule "externals\\refrain2"]
	path = externals\\refrain2
	url = z:\\refrain2.git
